body {
    background-color: bisque;
}

header {
    background-color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    background-color: lightblue;
    text-align: center;
}