body {
    background-color: bisque;
}

.container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

header {
    background-color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightblue;
    text-align: center;
}

.inputs_and_images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}